/*@media all and (min-width: 480px) {*/
    /*.auth-wrapper {*/
        /*margin: 50px auto;*/
        /*padding: 25px;*/
        /*max-width: 400px;*/
        /*align-content: center;*/
        /*border-radius: 4px;*/
        /*box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);*/
    /*}*/
    /*.sign-in-up-title {*/
        /*text-align: center;*/
        /*padding-top: 16px;*/
        /*font-size: 24px;*/
        /*font-weight: 400;*/
        /*line-height: 32px;*/
        /*margin: 0;*/
    /*}*/
    /*.auth-wrapper form {*/
        /*margin: 0 auto;*/
        /*padding: 20px 50px 50px 50px;*/
        /*align-content: center;*/
    /*}*/
    /*!*#email, #password, #full-name, #confirm-password {*!*/
        /*!*min-width: 280px;*!*/
        /*!*margin-top: 20px;*!*/
    /*!*}*!*/
    /*!*input#email, input#password, input#full-name, input#confirm-password {*!*/
        /*!*border-top: none;*!*/
        /*!*border-right: none;*!*/
        /*!*border-left: none;*!*/
        /*!*border-bottom: solid black 1px;*!*/
        /*!*margin-top: 20px;*!*/
        /*!*height: 30px;*!*/
        /*!*width: 100%;*!*/
    /*!*}*!*/
    /*.auth-lbl {*/
        /*position: absolute;*/
        /*margin-top: 20px;*/
    /*}*/
    /*.login-btn-box {*/
        /*display: flex;*/
        /*justify-content: space-around;*/
    /*}*/
    /*.login-btn:disabled {*/
        /*background-color: #cdeddb;*/
        /*cursor: auto;*/
    /*}*/
    /*.login-btn {*/
        /*padding: 6px 16px;*/
        /*font-size: 0.875rem;*/
        /*min-width: 64px;*/
        /*box-sizing: border-box;*/
        /*line-height: 1.75;*/
        /*font-family: "Roboto", "Helvetica", "Arial", sans-serif;*/
        /*font-weight: 500;*/
        /*border-radius: 4px;*/
        /*letter-spacing: 0.02857em;*/
        /*text-transform: uppercase;*/
        /*background-color: #a5ceb7;*/
        /*color: rgba(0, 0, 0, 0.87);*/
        /*border: 0;*/
        /*margin: 40px 0 0 0;*/
        /*cursor: pointer;*/
        /*display: inline-flex;*/
        /*outline: none;*/
        /*align-items: center;*/
        /*user-select: none;*/
        /*vertical-align: middle;*/
        /*justify-content: center;*/
        /*-moz-appearance: none;*/
        /*text-decoration: none;*/
    /*}*/

    /*!*.link-btn {*!*/
        /*!*position: relative;*!*/
        /*!*background-color: transparent;*!*/
        /*!*-webkit-appearance: none;*!*/
        /*!*-webkit-tap-highlight-color: transparent;*!*/
    /*!*}*!*/
    /*!*.link-btn:hover {*!*/
        /*!*text-decoration: none;*!*/
        /*!*background-color: rgba(0, 0, 0, 0.08);*!*/
    /*!*}*!*/
    /*!*.login-btn:disabled:hover {*!*/
        /*!*background-color: #a5ceb7;*!*/
    /*!*}*!*/
    /*!*.login-btn:hover {*!*/
        /*!*background-color: #6d957e;*!*/
    /*!*}*!*/
/*}*/