.link-btn {
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    line-height: 1.75;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    background-color: #a5ceb7;
    color: rgba(0, 0, 0, 0.87);
    border: 0;
    margin: 40px 0 0 0;
    cursor: pointer;
    display: inline-flex;
    outline: none;
    align-items: center;
    user-select: none;
    vertical-align: middle;
    justify-content: center;
    -moz-appearance: none;
    text-decoration: none;
}
.link-btn {
    position: relative;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
.link-btn:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.08);
}