.avatar-wrapper, .nav-bar-avatar-wrapper {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
}
.avatar-wrapper img, .nav-bar-avatar-wrapper img {
    width: auto;
    max-width: -webkit-fill-available;
    height: 100%;
    border-radius: 50%;
}

.default-avatar {
    color: white;
    background-color: darkgrey;
    font-size: 28px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding-left: 8px;
    padding-top: 4px;
}
.nav-bar-avatar-wrapper {
    width: 30px;
    height: 30px;
}