.create-post-btn {
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: pointer;
    display: block;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    flex: 1 1 auto;
    padding: 15px;
}

.create-post-btn:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.08);
}
