.Home .home-body {
    margin: 0 auto;
    text-align: center;
    width: 600px;
}

.Home .home-body h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.Home .home-body p {
    color: #999;
    margin-top: 56px;
}